.gradingLabel {
  width: 100%;
}

.gradingWrapper {
  position: relative;
}

:global(#grading-box-extended).gradingBox {
  display: block;
  box-sizing: border-box;
  width: 100%;
  height: unset;

  & + .gradingSelect.open,
  &.alwaysOpenOnFocus:focus + .gradingSelect {
    visibility: visible;
  }

  & + .gradingSelect {
    position: absolute;
    visibility: hidden;
    box-sizing: border-box;
    width: 100%;
    z-index: 1;
    box-shadow: 0 .1em .25em rgba(0, 0, 0, .25);
    padding: .5em 0;

    & > option {
      padding: .25em .5em;

      &:not(:checked):hover {
        background-color: #eee;
      }
    }

    &.fitOptions {
      overflow: hidden;
    }
  }
}

.infoButton {
  position: absolute;
  top: 0.5rem;
  right: 0.5rem;
}

:global(.ui-dialog-content).infoContent {
  box-sizing: border-box;
  padding: 2rem;

  & kbd {
    display: inline-block;
    line-height: 1;
    padding: 3px 4px 2px;
    white-space: nowrap;
    border: 1px solid var(--ic-brand-font-color-dark-lightened-15);
    border-radius: 3px;
    box-shadow: 0 1px 1px var(--ic-brand-font-color-dark-lightened-28);
    color: var(--ic-brand-font-color-dark-lightened-15);
    font-family: inherit;
    font-weight: normal;

    & > i {
      display: inline !important;
      font-size: 0;

      &::before {
        font-size: 0.8rem;
      }
    }
  }

  & table.infoKeys {
    width: 100%;

    & tr {
      border-bottom: 1px solid rgb(199, 205, 209);

      & > td {
        padding: 0.5rem 0.75rem;
      }
    }
  }
}
