.gradingLabel {
  position: relative;
  width: 100%;
}

:global(#grading-box-extended).gradingBox {
  display: block;
  box-sizing: border-box;
  width: 100%;
  height: unset;

  & + .gradingSelect.open,
  &.alwaysOpenOnFocus:focus + .gradingSelect {
    visibility: visible;
  }

  & + .gradingSelect {
    position: absolute;
    visibility: hidden;
    box-sizing: border-box;
    width: 100%;
    z-index: 1;
    box-shadow: 0 .1em .25em rgba(0, 0, 0, .25);
    padding: .5em 0;

    & > option {
      padding: .25em .5em;

      &:not(:checked):hover {
        background-color: #eee;
      }
    }

    &.fitOptions {
      overflow: hidden;
    }
  }
}
